server {
        server_name ${SERVER_NAME_1};
        set $site site1;

        include includes/main.conf;
}

server {
        server_name ${SERVER_NAME_2};
        set $site site2;

        include includes/main.conf;
}
